.wrap {
    width: 250px;
    min-height: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 5px;
}

.wrap:hover {
    background: rgba(155, 155, 155, 0.05);
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.title h3 {
    margin: 0;
}

i {
    color: #777777;
}

i:hover {
    color: red;
}

.AddTaskFormWrap {
    width: 100%;
    height: 58px;
}