.App {
  text-align: center;
  background-color: #222;
  min-height: 100vh;
}

.container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.addTodoListFormWrap {
  width: 400px;
  height: 70px;
  margin: 20px calc(50% - 200px);
}

.todoLists{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}